html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure the container uses the full height of the viewport */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
  flex-shrink: 0;
}

.header-left .username {
  font-weight: bold;
  font-size: 1.2em;
}

.header-right .app-title {
  font-weight: bold;
  font-size: 1.2em;
}

main {
  display: flex;
  flex: 1;
  height: 90%; /* Ensures the main area fills the rest of the page */
}

.sidebar {
  width: 30%;
  background-color: #F4E4C9;
  padding: 20px;
  box-shadow: inset -2px 0 5px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  height: 87%; /* Sidebar should take full height  the group search bar on it*/
  overflow-y: auto;
}

.main-content {
  flex: 1;
  background-color: #FDF3E3;
  height: 90%; /* Ensures the main content area takes the remaining height */
}

.empty-text {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 20px;
  display: block;
}

.group-search {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.group-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.group-avatar {
  display: flex;
  margin-right: 10px;
}

.group-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: -10px;
  border: 2px solid white;
}

.group-name {
  font-weight: bold;
  color: #000;
}

.find-more-button {
  background-color: #fff;
  color: #000;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}



