.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Intro Screen Styling */
.intro-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #6a11cb, #2575fc); /* Unique background color */
  color: white;
  animation: slowFadeIn 4s ease-in-out;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.view-map-btn {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #2575fc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.view-map-btn:hover {
  background-color: #6a11cb;
}

/* Full Screen Map Styling */
.map-container {
  width: 100%;
  height: 100%;
}

/* Slow fade-in animation for the intro screen */
@keyframes slowFadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
